name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true
      notes:
        description: 'Release notes'
        required: true
      prerelease:
        description: 'Is this a prerelease?'
        required: true
        default: 'false'

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./artifact

      - name: Create ZIP from artifact
        run: powershell Compress-Archive -Path "artifact\*" -DestinationPath "release.zip"

      - name: Prepare release notes 
        run: | 
          $notes = "${{ github.event.inputs.notes }}" -replace "\\n","`n" 
          Set-Content -Path RELEASE_NOTES.md -Value $notes

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          name: ${{ github.event.inputs.version }}
          body_path: RELEASE_NOTES.md
          prerelease: ${{ github.event.inputs.prerelease }}
          files: release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
